body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #0f172a;
  color: #e2e8f0;
}

h1 {
  color: #38bdf8;
}

h1 a {
  color: #38bdf8;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
